.search{
    background-color: #f5f5f5;
    border-radius: 10px;

}
.search input {
    background-color: transparent;
    border:none;
    padding: 15px 30px;
}

.search button{
    background-color: #3e4de1;
    color:white;
    border:none;

    padding: 0 15px;
    border-radius: 15px;
}

