@font-face {
    font-family: "IRANSans";
    src: url("./assets/fonts/IRANSansXV.woff") format("woff"),
    url("./assets/fonts/IRANSansXV.woff2") format("woff2")
}

*{
    font-family: IRANSans;
}
img{
    object-fit: cover;
}
