.nav{
    z-index: 9;
}
.nav ul{
    position: relative;
}
.nav ul li {
    list-style: none;
    text-align: right;
    padding: 5px 10px;

}
.nav ul a{
    text-decoration: none;
    color: #444;
}

.nav ul li:hover ol {
    display: block;
}
.nav ul li ol{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100vw;
    top:100%;
    right: 0;
    border-top: 1px solid #eee;
}
